//--------------------------- Tiki CSS variables
.tiki-top-nav-light {
    --tiki-top-bg: #{rgba($gray-800, 1)}; // #{$light};
    --tiki-top-color: #{rgba($white, .6)}; //#{$navbar-light-color};
    --tiki-top-hover-color: #{$white}; //#{$navbar-light-hover-color};
    --tiki-top-text-color: #{$white};
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

.tiki-topbar-nav-light {
    --tiki-topbar-bg: #444; //#{$light};
    --tiki-topbar-color: #{rgba($white, .6)}; //#{$navbar-light-color};
    --tiki-topbar-hover-color: #{$white}; //#{$navbar-light-hover-color};
    --tiki-topbar-text-color: #{$white};
}

.tiki-top-nav-dark {
    --tiki-top-bg: #{rgba($gray-800, 1)};
    --tiki-top-color: #{rgba($white, .6)};
    --tiki-top-hover-color: #{$white};
    --tiki-top-text-color: #{$white};
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

.tiki-topbar-nav-dark {
    --tiki-topbar-bg: #444; //#{rgba($gray-800, 1)};
    --tiki-topbar-color: #{rgba($white, .6)};
    --tiki-topbar-hover-color: #{$white};
    --tiki-topbar-text-color: #{$white};
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
    --tiki-admin-navbar-bg: #{rgba($gray-800, 1)};
    --tiki-admin-top-nav-color: #{rgba($white, .6)};
    --tiki-admin-top-nav-hover-color: #{$white};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #{rgba($gray-800, 1)};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #{rgba($gray-800, 1)};
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color:#{rgba($white, .6)};
    --tiki-admin-top-nav-hover-color: #{$white};
    --tiki-admin-top-nav-hover-bg: none;
    --tiki-admin-aside-nav-bg: #{rgba($gray-800, 1)};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$dropdown-dark-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: #{rgba($gray-800, 1)};
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //
// Changing variables didn't work
.accordion {
    --bs-accordion-active-bg: #444;
    --bs-accordion-active-color: #fff;
}

:root,
[data-bs-theme="dark"]{
    --tiki-code-bg: #303030;
}